/**
* General
*/
*,
::after, ::before {box-sizing: border-box;}
.off {display: none;}
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#main {
    display: flex;
    flex-direction: row;
    flex: 1;
}
#threads-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100vh;
}
.dark-background {
    color: #d4d4d5;
    background-color: #38383d;
}
.darker-background {
    color: #d4d4d5;
    background-color: #323234;
}
.dark-button {
    border-radius: 5px;
    border: 1px solid #d4d4d5;
    cursor: pointer;
    background-color: #666667;
    color: #d4d4d5;
    font-size: 14px;
}
.dark-button:active {
    box-shadow: 1px 1px 3px #d4d4d5 inset;
}
.dark-input {
    border: 1px solid #d4d4d5;
    padding: 0.25rem;
    font-size: 0.8rem;
    border-radius: 5px;
    color: #d4d4d5;
    background-color: #323234;
}
.light-background {
    color: black;
    background-color: rgb(245, 246, 247);
}
.lighter-background {
    color: black;
    background-color: white;
}
.light-button {
    border-radius: 5px;
    box-shadow: 1px 1px 2px gray;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(245, 246, 247);
}
.light-button:active {
    box-shadow: 1px 1px 3px gray inset;
}
.light-input {
    border: 1px solid gray;
    padding: 0.25rem;
    font-size: 0.8rem;
    border-radius: 5px;
    box-shadow: 1px 1px 2px gray;
}
.small {font-size: 12px;}
.big {font-size: 16px;}
.padding-small {padding: 0.25rem;}
/**
* left panel
*/
#left-panel {
    min-width: 12rem;
    position: relative;
    border-right: 1px solid gray;
    padding-top: 0.5rem;
}
#left-panel h2 {
    font-size: 1.20rem;
    font-weight: normal;
    padding-left: 0.5rem;
    margin: 10px 0;
}
#refresh button, #search-input {
    margin-left: 0.5rem;
}
#search-input:focus-visible {
    outline: none;
}
.folder-name {
    text-indent: 1rem;
    margin-bottom: 0.25rem;
    padding: 1px;
}
.folder-name:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}
#left-panel-resize {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    cursor: e-resize;
    width: 10px;
}
#light-dark-mode {
    position: absolute;
    bottom: 1rem;
    max-width: 12rem;
}
#light-dark-mode {
    padding-left: 0.5rem;
}
/**
* threads list panel
*/
#threads-list {
    min-height: 15vh;
    height: 30vh;
    overflow-y: scroll;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead tr {
    border-bottom: 1px solid grey;
}
table th + th {
    border-left: 1px solid grey;
} 
th {
    font-weight: normal;
    font-size: 0.8rem;
    text-align: left;
    text-indent: 0.5rem;
    position: relative;
    min-width: 10rem;
}
#th-state {
    width: 10%;
}
#th-correspondent, #th-subject {
    width: 35%;
}
#subject-resize, #correspondent-resize, #state-resize {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    width: 10px;
    display: inline-block;
    cursor: e-resize;
}
.thread-summary {
    cursor: pointer;
    text-indent: 0.5rem;
    font-size: 0.8rem;
}
.thread-summary:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.th-date {
    cursor: pointer;
}
/**
* Messages content list panel
*/
#thread-content {
    min-height: 15vh;
    position: relative;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    flex: 1;
}
#thread-content-resize {
    cursor:n-resize;
    height: 10px;
    top: -5px;
    left: 0;
    right: 0;
    position: absolute;
}
#thread-actions {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
}
#thread-infos {
    font-size: 14px;
}
#thread-infos div {
    margin: 0.25rem 0 0.25rem 0;
}
#thread-infos span {
    font-weight: bold;
}
#thread-messages-content {
    overflow-y: scroll;
    flex: 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}
.msg {
    margin-bottom: 1.5rem;
    max-width: 55rem;
    box-shadow: 1px 1px 2px gray;
    border-radius: 5px;
    position: relative;
}
.msg-content {
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.msg-header {
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 0.5rem 1rem 0.5rem 1rem;
}